{
  "extends": ["eslint-config-airbnb-base", "prettier"],
  "rules": {
    "no-void": ["error", { "allowAsStatement": true }],
    "no-plusplus": [
      "error",
      {
        // well known and common pattern which will guarantee that there won't be any misuses by design
        "allowForLoopAfterthoughts": true
      }
    ],
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": "off",
    "no-unused-vars": "warn"
  }
}
